*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box; 
} 
.my-container{
    margin:5% 10%;
    text-align: center;
}
.my-background {
    background-image: url(/img/BackgroundPrincipal.jpg);
    background-size: cover;
    overflow: hidden;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(65, 5, 82, 0.753);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}
h1{
    font-family: 'Monoton';
    font-weight: bolder;
    font-size: 100px;
    justify-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.637);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.button-Principal{
    color:white;
    font-size: 40px;
    font-weight: bold;
    transition: 800ms;
}
.shadow-buttons {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.button-Principal:hover {
    font-size: 50px;
    transition: 800ms;
}
.style-label{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
}
.style-input {
    background: rgba(255, 255, 255, 0.61);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.style-button-start {
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    transition: 800ms;
}
.style-button-start:hover {
    transition: 800ms;
    font-size: 25px;
}
.flex-components{
    display: flex;
}
.icons-color{
    color: rgb(179, 144, 29);
}
.my-skill-container{
    display: flex;
    justify-content: space-between;
}
.progress-questions{
    font-size: 30px;
    font-weight: bolder;
    color: rgb(55, 135, 201);
    text-align: left;
}
.score{
    font-family: 'Monoton';
    font-size: 30px;
    font-weight: bolder;
    color: rgb(167, 152, 18);
    text-align: center; 
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); 
}
.style-question{
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 1%;
    margin-right: 1%;
}

.your-hits{
    font-family: 'Monoton';
    color: rgb(27, 155, 27);
}

.style-finish-window {
    font-family: 'Monoton';
    font-size: 70px;
    color: white;
}

.style-finish-score {
    font-family: 'Monoton';
    font-size: 120px;
    color: rgb(167, 152, 18);
}